.filter-item {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding-top: 20px;
}

.filter-item:first-child{
    padding-top: 0;
}

.filter-item:last-child{
    border-bottom: none;
}

.filter-item ul{
    display: flex;
    flex-flow: row wrap;
}

.filter-item li {
    padding: 5px;
    margin-bottom: 4px;
    margin-right: 12px;
    color: #1e56a0;
    border-radius: 3px;
    transition: all 0.4s;
    list-style-type: none;
    font-size: 0.8rem;
}

.filter-item li:hover{
    cursor: pointer;
    background: #eeeeee;
}
