.navbar {
    width: 100%;
    background: white;
    position: fixed;
    border-bottom: 1px solid lightgray;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.navbar-controls {
    height: 100%;
    align-items: center;
    max-width: 700px;
}

.navbar-controls > * {
    margin-right: 20px;
}

.navbar-controls > *:last-child {
    margin-right: 0;
}